:root {
    --body-width: 330px;
}


body {
    display: flex;
    height: 100%;
    margin: 0 auto;
    width: var(--body-width);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 5px;
}

#service-msg {
    font-size: 5px;
    padding: 20px;
    padding-left: 10px;
    padding-bottom: 10px;
    background-color: rgba(192, 192, 192, 0.13);
}

#service-msg p {
    width: 160px;
}

img,
#right-half {
    height: 100%;
}

img {
    width: calc(var(--body-width) / 3);
}

#image-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    position: absolute;
    width: calc(var(--body-width) / 3);
    height: 40px;
    background-color: rgba(0, 0, 0, 0.4);
    top: 30px;
    color: whitesmoke;
}

#text-overlay {
    position: relative;
    text-align: center;
    top: -30px;
}

#img-text {
    font-size: 5px;
    color: aliceblue;
}

a {
    color: aliceblue;
}

form {
    display: flex;
    padding-top: 5px;
    flex-direction: column;
    box-shadow: 0px 1px 2px 0px gray;

}

#inputs {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

#motivation {
    font-size: 5px;
    padding-left: 10px;
}

#first_name,
#email,
#last_name,
#phone_number,
#password,
#confirm_password {
    font-size: 5px;
    width: 15vw;
}

.input {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 5px;
    padding-right: 4px;
}

input {
    height: 3px;
    border: 0.1px solid rgba(90, 91, 92, 0.4);
    border-radius: 1px;
    padding: 2px;
    outline: none;
}

input:invalid {
    border-color: red;
}

input:focus {
    border-color: blue;
}

label {
    text-transform: uppercase;
    font-size: 3px;
}

#create-account {
    height: 14px;
    padding: 5px 13px;
    margin-top: 10px;
    margin-left: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 5px;
    background-color: rgb(69, 71, 68);
    border: 1px;
    border-radius: 3px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: antiquewhite;
}

#question {
    margin-left: 10px;
}

#login {
    color: rgb(69, 71, 68);
}

#submit-div {
    padding-bottom: 30px;
}