:root {
    --main-width: 280px;
}

#main {
    display: flex;
    /* border: 2px black solid; */
    height: 100%;
    margin: 0 auto;
    margin-top: -8px;
    width: var(--main-width);
}

img,
#right-half {
    height: 100%;
}

img {
    width: calc(var(--main-width) / 3);
}

#overlay {
    position: relative;
    text-align: center;
    top: -30px;
}

#img-text {
    font-size: 5px;
    color: aliceblue;
}

form {
    display: flex;
    padding-top: 15px;
    font-size: 5px;
    /* border-bottom: 1px solid; */
    box-shadow: 0px 1px 2px 0px gray;
    flex-wrap: wrap;
    justify-content: flex-start;
}

#motivation {
    position: absolute;
    top: 1px;
    right: 140px;
    margin-top: 3px;
}

#first_name,
#email,
#last_name,
#phone_number,
#password,
#confirm_password {
    font-size: 5px;
    width: 15vw;
}

.input {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 5px;
}

input {
    height: 4px;
    border: 0.1px solid gray;
    border-radius: 1px;
    padding: 2px;
    outline: none;
}

input:invalid {
    border-color: red;
}

input:focus {
    border-color: blue;
}