#main {
    display: flex;
    border: 2px black solid;
    height: 100%;
    margin: 0 auto;
}

img,
#left-half {
    width: 50vw;
    height: 100%;
}

#overlay {
    position: relative;
    top: -60px;
}